<!DOCTYPE html>
<html lang="zh-CN">
<% include header.ejs %>

<body>
<div class="container-fluid">
    <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a> <a class="brand" href="#">OA办公系统</a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="#">主页</a>
            </li>
            <li>
                <a href="#">人事信息管理</a>
            </li>
            <li>
                <a href="#">工资信息管理</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">下拉菜单</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">下拉导航1</a>
                    </li>
                    <li>
                        <a href="#">下拉导航2</a>
                    </li>
                    <li>
                        <a href="#">其他</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li class="nav-header">
                        标签
                    </li>
                    <li>
                        <a href="#">链接1</a>
                    </li>
                    <li>
                        <a href="#">链接2</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li>
                <a href="#">安全退出</a>
            </li>
            <li class="divider-vertical">
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">帮助</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">帮助</a>
                    </li>
                    <li>
                        <a href="#">修改密码</a>
                    </li>
                    <li>
                        <a href="#">编辑资料</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">退出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container">

    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">首页</a></li>
                <li role="presentation"><a href="/admin/staff">人事信息管理</a></li>
                <li role="presentation"><a href="/salary">工资信息管理</a></li>
                    <% if (user) { %>
                    <li><a href="#">
                            <%= user.UserName %>
                        </a></li>
                    <li><a href="/logout">安全退出</a></li>
                    <% } %>

            </ul>
        </nav>
        <h3 class="text-muted">人力资源管理系统</h3>
    </div>

    <div class="jumbotron">
        <h1>欢迎使用人力资源管理系统</h1>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>


</div> <!-- /container -->


<% include footer.ejs %>

</body>
</html>