<!DOCTYPE html>
<html lang="zh-CN">
<% include header.ejs %>

<body>
<br />
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">首页</a></li>
                <li role="presentation"><a href="/admin/staff">人事信息管理</a></li>
                <li role="presentation"><a href="/salary">工资信息管理</a></li>
                    <% if (user) { %>
                    <li><a href="#">
                            <%= user.UserName %>
                        </a></li>
                    <li><a href="/logout">安全退出</a></li>
                    <% } %>

            </ul>
        </nav>
        <h3 class="text-muted">人力资源管理系统</h3>
    </div>

    <div class="jumbotron">
        <h1>欢迎使用人力资源管理系统</h1>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>


</div> <!-- /container -->


<% include footer.ejs %>

</body>
</html>