<!DOCTYPE html>
<html lang="zh-CN">
<% include header.ejs %>

<body>
<br />
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">首页</a></li>
                <li role="presentation"><a href="/admin/staff">人事信息管理</a></li>
                <li role="presentation"><a href="/salary">工资信息管理</a></li>
                <% if (user) { %>
                <li><a href="#">
                        <%= user.UserName %>
                    </a></li>
                <li><a href="/logout">安全退出</a></li>
                <% } %>

            </ul>
        </nav>
    </div>
    <div class="row marketing">
        <fieldset>
            <div id="legend" class="">
                <legend class="">表单名</legend>
                <!-- Search input-->

            </div>
        </fieldset>

        <label class="control-label">姓名</label>
        <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge search-query">
        </div>
    </div>


</div> <!-- /container -->


<% include footer.ejs %>

</body>
</html>