<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<% include header.ejs %>

<body>
<br />
<div class="container">
     <form class="form-search" post="admin/staffs">
         <fieldset>
             <legend>人事信息查询</legend>
             <label for="txtCardId">工号</label><input type="text" id="txtCardId" class="input-small"/>
             <label for="txtUserName">姓名</label><input type="text" id="txtUserName" class="input-small"/>
             <label for="txtLoginName">账号</label><input type="text" id="txtLoginName" class="input-small"/>
             <button type="submit" class="btn  btn-small btn-primary">查询</button>
         </fieldset>
    </form>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                序号
            </th>
            <th>
                工号
            </th>
            <th>
                姓名
            </th>
            <th>
                性别
            </th>
            <th>
                身份证
            </th>
            <th>
                Email
            </th>
            <th>
                电话
            </th>
            <th>
                入职时间
            </th>
            <th>
                是否管理员
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                Default
            </td>
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                Default
            </td>
            <td>
                Default
            </td>
        </tr>
        <tr class="success">
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                Default
            </td>
            <td>
                1
            </td>
            <td>
                TB - Monthly
            </td>
            <td>
                01/04/2012
            </td>
            <td>
                Default
            </td>
            <td>
                Default
            </td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->
</body>
<% include footer.ejs %>
</html>